Django>=5.1,<6.0
djangorestframework>=3.14
psycopg2-binary==2.9.9
gunicorn>=21.2
python-telegram-bot>=20.0,<21.0
python-dotenv>=1.0
drf-yasg>=1.21
requests
python-dateutil>=2.8.2
celery>=5.3
redis>=5.0
django-celery-beat>=2.5.0
whitenoise
Pillow
pyjwt
django-storages[boto3]
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
uvicorn[standard]
hiredis>=2.3
python-multipart>=0.0.9
cryptography>=42.0.5
drf-spectacular>=0.27.0
drf-spectacular-sidecar>=2024.4.1